.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.page_loader  p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    /* top:0; */
    display: inline-block;
    text-align: center;
    margin-bottom: -5em;
}

.page_loader_wrapper > .page_loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    text-align: center;
    background: url(../images/loader.gif) center no-repeat #fff;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -255;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .vcontainer {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://vouriinc.com/resources/assets/images/backgrounds/bridge-bg.jpg') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}
@media only screen and (max-width : 600px){
    #fancybox_recover{
        width: 90%;
    }
}
@media only screen and (max-width : 728px){
    #fancybox_recover{
        width: 90%;
    }
}
@media print {
    body * {
        visibility : hidden;
    }
    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}